*.pyc
plugins/test.py
plugins/python/minqlbot.db
plugins/python/LICENSE
plugins/python/db.txt
plugins/python/config.cfg
pluginsdev/improvedelo.py
pluginsdev/alias.py
pluginsdev/balance.py
pluginsdev/ban.py
pluginsdev/essentials.py
pluginsdev/fun.py
pluginsdev/irc.py
pluginsdev/motd.py
pluginsdev/permission.py
pluginsdev/plugin_manager.py
pluginsdev/qlprofile/qlprofile.py
pluginsdev/qlprofile/__init__.py
pluginsdev/qlranks/qlranks.py
pluginsdev/voteabort.py
pluginsdev/__init__.py
pluginsdev/raw.py
pluginsdev/race.py
pluginsdev/qlranks/__init__.py
pluginsdev/serverelo.py
